.HyperMD-header.HyperMD-header-1,
.HyperMD-header.HyperMD-header-2,
.HyperMD-header.HyperMD-header-3,
.HyperMD-header.HyperMD-header-4,
.HyperMD-header.HyperMD-header-5,
.HyperMD-header.HyperMD-header-6,
	{
	font-family: var(--font-family-headings);
	font-weight: 900;
	font-variant: normal;
}

.admonition-title-markdown {
	font-family: var(--font-family-headings);
	font-weight: 500;
}


