.HyperMD-header,
.cm-header-1,
.markdown-preview-section h1,
.cm-header-2,
.markdown-preview-section h2,
.cm-header-3,
.markdown-preview-section h3,
.cm-header-4,
.markdown-preview-section h4,
.cm-header-5,
.markdown-preview-section h5,
.cm-header-6,
.markdown-preview-section h6 {
	color: var(--accent-headings);
}

.admonition-title-markdown {
	color: var(--accent-headings);
	font-family: var(--font-family-headings);
	font-weight: 500;
}