/* Improve File Navigation */

.nav-folder-title {
	margin: 0;
	padding: 0.5em 1.25em;
	width: 100%;

	// Colorize Icon & Folder Title to Purple
	&,
	&:hover,
	& .obsidian-icon-folder-icon svg {
		color: var(--purple) !important;
		fill: var(--purple);

		// But only if they are not collapsed
		.nav-folder.is-collapsed & {
			color: var(--text-normal) !important;
			fill: var(--text-normal);
		}
	}

	&:hover {
		.nav-folder.is-collapsed & {
			background: var(--bg4);
		}
	}

	&:not(.is-active) {
		&:hover {
			body:not(.is-grabbing) & {
				background-color: var(--bg4) !important;
			}
		}
	}

	// Property to .nav-folder-title and when it's being dragged over
	&,
	&.is-being-dragged-over {
		border-radius: 0;
	}
}

.nav-file {
	margin: 0;
	padding: 0;
	transition: border-color 5s ease-in;

	.nav-file-title {
		border-radius: 0;
		border: var(--accent-width) solid transparent;
		transition: border-color 0.5s ease-out;
		margin: 0;
		padding: 0.5em 1.25em;

		&:hover {
			background-color: var(--bg4) !important;
		}

		&.is-active,
		.is-flashing & {
			border-left-color: var(--purple);
		}
	}
}

.is-flashing {
	background: var(--bg4);
	box-shadow: none;
	border-radius: 0;
	outline: none;
	transition: background 0.5s ease-in-out;
}

.is-being-dragged {
	//background: var(--bg4) !important;
	border-color: var(--purple);
}
